<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>Blessing Agyei Kyem</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="Blessing Agyei Kyem" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="canonical" href="http://localhost:4000/">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Blessing Agyei Kyem
              </h1>
              <p>I am a PhD student at the <a href="https://computervision0.github.io/">Sustainable Mobility and Advanced Research in Transportation</a> (<a href="https://computervision0.github.io/">SMART</a>) Lab at <a href="https://www.cmu.edu/">North Dakota State University</a>, where I work on Multi-modal AI in Computer Vision and its applications in Transportation and Pavement Engineering. My PhD advisor is <a href="https://aboah1994.github.io/">Armstrong Aboah</a>.
              </p>
              <p>
                From 2019 to 2022, I worked at <a href="https://bismuthinc.com/">Bismuth Technologies</a> as a Data Scientist where I led their Data Team. I contributed to making data-driven decisions by developing predictive models, optimizing data pipelines, and providing actionable insights that significantly improved product performance and customer satisfaction . 
              </p>
              <p>
                I have a BS in Civil Engineering at <a href="https://civil.knust.edu.gh/programmes/civil-engineering">Kwame Nkrumah University of Science and Technology</a>, where I worked in <a href="https://scholar.google.com/citations?user=WVs0_1gAAAAJ&hl=en">Kenneth Adomako-Tutu's</a> lab. After my undergrad, I was a research assistant at the <a href="https://treck.knust.edu.gh/">Transport Research and Education Centre KNUST</a> and a teaching assistant for <a href="https://scholar.google.com/citations?user=kHzL6qUAAAAJ&hl=en">Augustus Ababio-Donkor</a> (<a href="https://gesaknust.blogspot.com/p/blog-page_26.html">CE 367</a>).
              </p>

              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/5HAICmT9"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/Blessing988">GitHub</a> &nbsp;/&nbsp;
                <a href="">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://dev.to/blessing988">Blog</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/blessing-agyei-kyem-b258121a8"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/canva profile-pic.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in computer vision, machine learning, deep learning and multi-modal models.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          

          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <!-- <img src="/tn/images/3dgaussian.jpg" alt="project image" style="width:auto; height:auto; max-width:100%;" /> -->
              <img src="/tn/images/pavecap.png" alt="project image" style="width:auto; height:auto; max-width:100%;" />

            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>PaveCap: The First Multimodal Framework for Comprehensive Pavement Condition Assessment with Dense Captioning and PCI Estimation</h3>
              <br>
              <br>
              <strong>Blessing Agyei Kyem</strong>, Eugene Kofi Okrah Denteh, Joshua Kofi Asamoah, Armstrong Aboah

              <br>
              <em>arXiv</em>, 2024
              <br>
              
              <a href="https://arxiv.org/abs/2408.04110">arxiv</a> /
              
              <a href="https://github.com/Blessing988/PaveCap">code</a> /
              
              <a href="https://blessing-agyei-kyem.github.io/PaveCap">website</a> /
              
              
              <p></p>
              <p>We show how to provide dense caption describing the condition of a pavement image. The textual description captures the types of pavement distress present with their severity, the absent pavement distresses and the pavement condition index (PCI)</p>

            </td>
          </tr>
        
        </table>


        <!-- Second Project -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn/images/pavement-developing.png" alt="project image" style="width:auto; height:auto; max-width:100%;" />

            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>Advancing Pavement Distress Detection in Developing Countries: A Novel Deep Learning Approach with Locally-Collected Datasets</h3>
              <br>
              <br>
              <strong>Blessing Agyei Kyem</strong>, Eugene Kofi Okrah Denteh, Joshua Kofi Asamoah, Kenneth Adomako Tutu, Armstrong Aboah

              <br>
              <em>arXiv</em>, 2024
              <br>
              
              <a href="https://arxiv.org/abs/2408.05649">arxiv</a> /
                            
              <a href="https://blessing-agyei-kyem.github.io/PaveCap">website</a> /
              
              
              <p></p>
              <p>This research presents a deep learning approach using combining YOLOv5 with Convolutional Block Attention Module (CBAM) to detect and classify pavement distress types in developing countries. In addition, we develop a web-based platform to enable real-time pavement distress detection for these developing countries.</p>

            </td>
          </tr>
          
        </table>


        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <!-- <p>Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly disclosed work</p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          
          
          
          
          
      
          
  
          
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <!-- <p> These include coursework, side projects and unpublished research work. </p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          
          
          
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

